body {
    font-size: 15px;
}

.grid-container {
    width: 100%;
    padding: 10px;
    }
    
#h_1{
    display: none;
}

#p_1 {
    display: none;
}

.img {
    display: none;
}

#img_1{
    
    max-width:50%;
}

#img_2{
    display: none;
}